<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Add New Curve Point</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/curvePoint/validate}" th:object="${curvePoint}" method="post" class="form-horizontal" style="width: 100%">
			<!--
			Create a form to input the values of CurvePoint, there are 2 buttons: Save data and Cancel to the list CurvePoint
			 -->
 			 <label>Curve Id</label><br>
			 <input type="text" th:field="*{curveId}" placeholder="Curve Id"><br>
			 <label>Term</label><br>
			 <input type="text" th:field="*{term}" placeholder="Type"><br>
			 <label>Value</label><br>
			 <input type="text" th:field="*{value}" placeholder="Value">
			 <br>
			 <input type="reset" class="btn btn-danger"value ="Cancel"/>
			 <input type="submit" class="btn btn-primary" value="Add CurvePoint"/>
			 
		</form>
	</div>

</div>
</body>
</html>