<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>Please sign in</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
	rel="stylesheet">
  <link
	href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css"
	rel="stylesheet" />   
</head>
<body>
	<div class="container1">
	<!-- Login via Username and password -->
	
		<form th:action="@{/login/validate}" method="post" class="form-signin">
			<h2 class="form-signin-heading">Login with Username and Password</h2>
		
			<div class="input-group1">
				<label for="username" class="sr-only">User :</label> <input
					type="text" id="username" name="username" class="form-control"
					placeholder="Username" required autofocus />
			</div>
			<div class="input-group2">
				<label for="password" class="sr-only">Password :</label> <input
					type="password" id="password" name="password" class="form-control"
					placeholder="Password" required />
			</div>
			
			 <span th:style="'color: red;'" th:if="${message}"  th:text="${message}">Error</span>
 
			<div>
				<button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
			</div>
		</form>

		<!-- Login via Oauth2 -->
		
		<h2 class="form-signin-heading">Login with OAuth 2.0</h2>
		<table class="table table-striped">
			<tr>
				<td><a href="/oauth2/authorization/github">GitHub</a></td>
			</tr>
		</table>
	</div>
</body>
</html>